<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>engineer</title>
    <script>
function openWin() {
  window.open("engineer_predict.html");
}
</script>
  </head>
  <body>

<h1>Questions</h1>
<div class="set">
<form class="" action="/engineer" method="post">

  <input type="text" name="Natural_curiosity" placeholder="Natural curiosity(rate from 1 to 10)"><br>

  <input type="text" name="Logical_thinking" placeholder="Logical thinking(rate from 1 to 10)"><br>

  <input type="text" name="Communication_skills" placeholder="Communication skills(rate from 1 to 10)"><br>

  <input type="text" name="Attention_to_detail" placeholder="Attention to detail(rate from 1 to 10)"><br>


  <input type="text" name="Creativity" placeholder="Creativity(rate from 1 to 10)"><br>


  <input type="text" name="Team_work" placeholder="Team work(rate from 1 to 10)"><br>


  <input type="text" name="Mathematical_skill" placeholder="Mathematical skill(rate from 1 to 10)"><br>


  <input type="text" name="Problem_solving" placeholder="Problem solving(rate from 1 to 10)"><br>


  <input type="text" name="Technical_skills" placeholder="Technical skills(rate from 1 to 10)"><br>


  <input type="text" name="Constant_learner" placeholder="Constant learner(rate from 1 to 10)"><br>

  <input type="text" name="Analytical_thinking" placeholder="Analytical thinking(rate from 1 to 10)"><br>

  
  <input type="text" name="Leadership_quality" placeholder="Leadership quality(rate from 1 to 10)"><br>

  <input type="text" name="Knowledge_utilisation" placeholder="Knowledge utilisation(rate from 1 to 10)"><br>

	                            <button type="submit">Predict</button>

</form>
</div>


  </body>
</html>
