<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>demo</title>
  </head>
  <body>
    <center>
      <h1>List of Career Path Profession</h1>
    </center>
    <ul>
      <div class="one">
                <a href="engineer.html">
            </div>
        <li>Engineer</li>
      </a>
      <hr>
      <a href="#">
        <li>Doctor</li>
      </a>
      <hr>
      <a href="#">
        <li>Pharmasist</li>
      </a>
      <hr>
      <a href="#">
        <li>Lawyer</li>
      </a>
      <hr>
      <a href="#">
        <li>Archaeologist</li>
      </a>
      <hr>
      <a href="#">
        <li>Financial advisor</li>
      </a>
      <hr>
      <a href="#">
        <li>Motivational speaker</li>
      </a>
      <hr>
      <a href="#">
        <li>Chartered Accountant</li>
      </a>
      <hr>
      <a href="#">
        <li>Hotel Management</li>
      </a>
      <hr>
      <a href="#">
        <li>Wedding Planner</li>
      </a>
      <hr>
      <a href="#">
        <li>Writer</li>
      </a>
      <hr>
      <a href="#">
        <li>Photographer</li>
      </a>
      <hr>
      <a href="#">
        <li>Cabin Crew</li>
      </a>
      <hr>
      <a href="#">
        <li>Journalist</li>
      </a>
      <hr>
      <a href="#">
        <li>Translator</li>
      </a>

    </ul>
    <center>
  </body>
</html>
